<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--开启属性注入的注解-->
    <context:annotation-config/>

    <!-- 引入外部属性文件=============================== -->
    <context:property-placeholder location="classpath:jdbc.properties"/>

    <!-- 配置C3P0连接池=============================== -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driverClass}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>

            </props>
        </property>
      <property name="mappingResources">
          <list>
              <value>com/java/crm/domain/User.hbm.xml</value>
              <value>com/java/crm/domain/Customer.hbm.xml</value>
              <value>com/java/crm/domain/BaseDict.hbm.xml</value>
              <value>com/java/crm/domain/LinkMan.hbm.xml</value>
              <value>com/java/crm/domain/SaleVisit.hbm.xml</value>
          </list>
      </property>

    </bean>

    <!--配置Action-->
    <bean id = "userAction" class="com.java.crm.web.action.UserAction" scope="prototype">
        <property name="userService" ref="userService"/>
    </bean>
    <!--配置Service-->
    <bean id = "userService" class="com.java.crm.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
    </bean>
    <!--配置Dao-->
    <bean id="userDao" class="com.java.crm.dao.impl.UserDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--配置客户管理的相关类-->
    <bean id="customerAction" class="com.java.crm.web.action.CustomerAction" scope="prototype">
        <property name="customerService" ref="customerService"/>
    </bean>
    <bean id="customerService" class="com.java.crm.service.impl.CustomerServiceImpl">
        <property name="customerDao" ref="customerDao"/>
    </bean>
    <bean id="customerDao" class="com.java.crm.dao.impl.CustomerDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--配置字典管理的相关的类-->
    <bean id="baseDictAction" class="com.java.crm.web.action.BaseDictAction" scope="prototype">
        <property name="baseDictService" ref="baseDictService"/>
    </bean>
    <bean id="baseDictService" class="com.java.crm.service.impl.BaseDictServiceImpl">
        <property name="baseDictDao" ref="baseDictDao"/>
    </bean>
    <bean id="baseDictDao" class="com.java.crm.dao.impl.BaseDictDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--配置联系人管理的相关类-->
    <bean id="linkManAction" class="com.java.crm.web.action.LinkManAction" scope="prototype">
        <property name="linkManService" ref="linkManService"/>
        <property name="customerService" ref="customerService"/>
    </bean>
    <bean id="linkManService" class="com.java.crm.service.impl.LinkManServiceImpl">
        <property name="linkManDao" ref="linkManDao"/>
    </bean>
    <bean id="linkManDao" class="com.java.crm.dao.impl.LinkManDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--配置客户拜访记录管理的相关类-->
    <bean id="saleVisitAction" class="com.java.crm.web.action.SaleVisitAction" scope="prototype">
    </bean>
    <bean id="saleVisitService" class="com.java.crm.service.impl.SaleVisitServiceImpl">
    </bean>
    <bean id="saleVisitDao" class="com.java.crm.dao.impl.SaleVisitDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--配置spring的事务管理-->
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!--开启注解事务-->
    <tx:annotation-driven transaction-manager="transactionManager"/>
</beans>